.navbar{
    background:#a1957182 !important;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: lighter;
    font-size: 15px;
    font-family: 'prague';
}

.a{
    background-image: url(https://jugyah-dev-property-photos.s3.ap-south-1.amazonaws.com/dark_blue_colour_combination_01_474025eda9.webp);
    width: 100%;
    height: 500px;
    background-position:center ;
    background-size: cover;
    margin-top: 20px;
    /* background-size: contain;
    background-repeat: repeat; */

}

.navbar li:hover{
    background:rgba(197, 128, 37,0.9) ;
}

.b{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
    padding-top: 20%;
    font-size: large;
    color: white;
    font-style: bold;
}